/* English Font */
@font-face {
    font-family: 'DMSans-Light';
    src: url("../fonts/dm/DMSans-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'DMSans-Regular';
    src: url("../fonts/dm/DMSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'DMSans-Bold';
    src: url("../fonts/dm/DMSans-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'DMSans-Black';
    src: url("../fonts/dm/DMSans-Black.ttf") format('truetype');
}

//

@font-face {
    font-family: 'Outfit-Light';
    src: url("../fonts/outfit/Outfit-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'Outfit-Regular';
    src: url("../fonts/outfit/Outfit-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Outfit-Bold';
    src: url("../fonts/outfit/Outfit-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Outfit-Black';
    src: url("../fonts/outfit/Outfit-Black.ttf") format('truetype');
}