// layout variables (Desktop)
$header-height: 84px;
$sidebar-width: 95px;
$layout-padding: 28px;
$drawer-width: 260px;
$drawer-component-width: 380px;
$transition: all .3s ease-in-out;

// layout vairables (Mobile)
$header-height-mobile: 50px;
$sidebar-width-mobile: 50px;
$layout-padding-mobile: 16px;

// for sub title 
$f-light: 'DMSans-Light';
$f-regular: 'DMSans-Regular';
$f-bold: 'DMSans-Bold';
$f-black: 'DMSans-Black';

// for main title 
$f-light-main: 'Outfit-Light';
$f-regular-main: 'Outfit-Regular';
$f-bold-main: 'Outfit-Bold';
$f-black-main: 'Outfit-Black';